/* VistaPrincipal.css */

.fondoprincipal, .navbar {
    background-image: url("https://media.istockphoto.com/id/1370110270/es/vector/cielo-estrellado-nocturno-fondo-espacial-oscuro-con-estrellas.jpg?s=612x612&w=0&k=20&c=MmTdL6oocjxHbDBYPilefJ67RkX1vRryvF4xsOp7Sm0=");
    background-size: auto;
    background-position: center;
   

}
.fondoprincipal{
    margin-top: 50px;
}
.fondoprincipal2 {

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    /* Espacio entre las tarjetas */
    gap: 7vh;
    /* Espacio entre las tarjetas */
    padding: 4vh;
    /* Espaciado interno del contenedor */
    justify-content: flex-start;
    

}

h1 {

    color: yellow;
    font-size: 65px;
    font-family: 'Orbitron', sans-serif;
    padding-bottom: 25px;
}

h2 {

    font-family: 'Star Jedi', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #f1c40f;
    /* Color dorado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background: linear-gradient(135deg, #000000, #434343);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #f1c40f;
    margin: 20px;
    position: relative;
}