/* Estilo para la vista detallada */
.vista-detallada {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 20px;
    background-color: #1a1a1a; /* Fondo negro vintage */
    color: #f5f5f5; /* Texto en gris claro para contraste */
    border: 3px solid #ffd700; /* Borde dorado */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); /* Sombra para profundidad */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    margin: auto;
    max-width: 60vw; /* Ajusta el tamaño máximo al 90% del ancho de la ventana */
    max-height: 60vh; /* Ajusta el tamaño máximo al 80% de la altura de la ventana */
    margin-top: 20vh;
    
}

.vista-detallada:hover {
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.7); /* Sombra dorada para hover */
    transform: scale(1.02); /* Efecto de escalado sutil */
}

/* Estilo para la imagen */
.img-detalle {
    object-fit: cover;
    border-radius: 15%;
    width: 70%; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  
}

.divimagen {
    display: flex;
    justify-content: flex-end;
}

/* Estilo del body */
body {
        background-image: url("https://media.istockphoto.com/id/1370110270/es/vector/cielo-estrellado-nocturno-fondo-espacial-oscuro-con-estrellas.jpg?s=612x612&w=0&k=20&c=MmTdL6oocjxHbDBYPilefJ67RkX1vRryvF4xsOp7Sm0=");
        background-size: auto;
        background-position: center;
}
